.button {
    background: none;
    border: none;
    color: #FFF;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4169e1;
}

.button:hover {
    background-color: #3659c9;
    cursor: pointer;
}