.sidebar-container {
    width: 200px; 
    background: #eee;
    color: #333;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: sticky;
}

